body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 1rem 0 1rem 0;
}

select:invalid {
    color: grey;
}

.nav-item {
    margin-right: 2vw;
    font-size: 22px;
}

.bg-dark-blue {
    background-color: #0a2463;
}

.bg-dark-green {
    background-color: darkgreen;
}

.top-bottom-margin {
    margin: 3vh 0 3vh 0;
}

.circular-image {
    height: 175px;
    width: 175px;
    border-radius: 100%;
}

.checkbox {
    border-color: black;
    margin-right: 0.5vw;
    float: none !important;
}

.btn-no-hover:hover {
    background-color: #0a2463;
}

#brand-name {
    font-family: "Playfair Display", Arial, Helvetica, sans-serif
}

#logo {
    height: 10vh;
    width: 10vh;
}

#confirmation-box {
    border-color: black;
    border-style: solid;
}